/*Colors:
khaki - #D8c99b
goldenrod - #D8973c
terra cotta - #BD632f
pank - #b7245c
idk dark cadet blue? - #273e47

*/


body {
	margin: 0;
	padding: 0;
	background-color: #273e47;
	font-family: "PT Sans", sans-serif;
}

h1, h2, h3 {
	color: #b7245c;
	font-family: "Oswald", sans-serif;
	padding-left: 20px;
}

a {
	font-family: "Oswald", sans-serif;
	text-decoration: none;
	color: #D8c99b;
}

a:hover{
	color: #D8973c;
	transition: color .3s ease-in-out;
}

header {
	height: 100vh;
	text-align: center;
}

header h1 {
	text-transform: lowercase;
	font-size: calc(1em + 5vw);
	margin-bottom: -10px;
}

nav ul{
	display: inline-block;
}

nav li{
	list-style: none;
}

p {
	padding-left: 5px;
}

div h4 {
	margin: 6px auto;
}

.nav-li {
	display: inline;
	padding: 5px;
	color: #D8c99b;
}

.right-align {
	float: right;
	margin-right: 5px;
}

#subtitle{
	transition: all 1s ease-in-out;
}

#outbound {
	display: inline-block;
	float: right;
	font-size: 1.3em;
	padding-right: 40px;
}

.holder{
	margin: auto;
	padding-bottom: 10px;
}

#work-carousel li {
	list-style: none;
}

#work-carousel li:nth-child(even) {
	float: right;
}

#work-carousel img {
	max-height: 300px;
}

.employer {
	border: 3px solid #BD632f;
	background-color: #D8c99b;
	width: 75%;
	margin: auto;
	padding: 5px;
	margin-bottom: 12px;
}

.blog-post {
	border: 3px solid #BD632f;
	background-color: #D8c99b;
	width: 75%;
	margin: auto;
	padding: 5px;
	margin-bottom: 12px;
}

.white {
	background-color: white;
	padding-bottom: 1px;
	margin-left: 10%;
	margin-right: 1%;
	margin-bottom: 3px;
	box-shadow: 2px 2px 2px gray;
}

.blog-post img {
	float: left;
	padding: 5px;
}

.blog-post a {
	display: inline;
	color: #b7245c;
}

.blog-post a:hover{
	color: #BD632f;
	transition: color .3s ease-in-out;
}


#blog a {
	text-align: center;
	margin: 0 auto;
	display: block;
}

#toolset {
	text-align: center;
}

#toolset li {
	display: inline-block;
	list-style: none;
	background-color: #D8973c;
	padding: 7px;
	margin: 6px 3px 0 3px;
	font-size: 1.2em;
	box-shadow: 1px 1px 3px #121d21;
}

#cv div:nth-child(odd) {
	background-color: #3c5159;
}

#contact-container {
	width: 55%;
	margin: auto;
	font-family: "Oswald", sans-serif;
	color: #D8c99b;
}

.contact-form {
	width: 100%;
	padding: 7px;
	margin-bottom: 20px;
	border: 2px #BD632f solid;
	background-color: #273e47;
	-moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}

input::placeholder, textarea::placeholder {
	color: #f3eee1;
	font-family: "Oswald", sans-serif;
}

button {
	width: 100%;
	padding: 7px;
	margin: 0;
	background-color: #BD632f;
	border: 2px #BD632f solid;
	box-shadow: 3px 3px 5px #121d21;
	font-family: "Oswald", sans-serif;
	font-size: 1.3em;
}

footer {
	height: 30px;
	display: flex;
	flex-direction: row; 
	align-items: stretch;
}
footer div {
	width: 20%;
	flex-basis: fill;
}

#div-1{
	background-color:#D8c99b;
}
#div-2{
	background-color:#D8973c;
}
#div-3{
	background-color:#BD632f;
}
#div-4{
	background-color:#b7245c;
}
#div-5{
	text-align: center;
	font-size: .8em;
	line-height: 25px;
}

/*Blog form styles*/

#blog-input {
	display: flex;
	flex-direction: column;
	width: 85%;
	margin: 5% auto;
	border: 2px dotted white;
	border-radius: 10px;
}

#blog-input input{
	height: 30px;
}

#blog-input label:nth-of-type(1){
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

#blog-input input[type="submit"] {
	background-color: #b7245c;
	height: 40px;
	border: none;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	font-weight: bold;
}

#blog-input label {
	color: white;
	height: 30px;
	background-color: #d8c99b;
	padding-top: 8px;
}

#blog-input textarea{
	height: 500px;
}

